.coach {
  margin-top: 116px;
  margin-bottom: 120px;
  position: relative;
}

.coach__title {
  @include indent-reset();
  padding-left: 2px;
  padding-bottom: 54px;
  font-family: "Bebas Neue", sans-serif;
  font-size: 49px;
  line-height: 49px;
  letter-spacing: 0.03em;
  color: #102654;
}

.coach__list {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.swiper2 {
  width: 100%;
}

div.coach__item {
  width: 100%;
}

.coach__btn {
  position: absolute;
  border: none;
  background: transparent;
  top: 63.4%;
  cursor: pointer;

  &--left {
    left: 3%;
  }

  &--right {
    right: 3%;
  }

  &:hover svg {
    stroke: #000000;
  }
}

@media (max-width: $tablet) {
  .coach {
    margin-top: 95px;
  }

  .coach__title {
    font-size: 42px;
    line-height: 42px;
    text-align: center;
    padding: 0 0 45px 0;
  }

  .swiper2 {
    width: 83%;
  }

  .coach__list {
    width: 100%;
  }

  div.coach__item {
    width: 269px;
  }

  .coach__btn {
    background: transparent;
    top: 62%;

    &--left {
      left: 5%;
    }

    &--right {
      right: 5%;
    }
  }
}

@media (max-width: $mobile) {
  .coach {
    margin-top: 66px;
  }

  .coach__title {
    font-size: 32px;
    line-height: 32px;
  }

  .swiper2 {
    width: 77%;
  }

  .coach__list {
    width: 100%;
  }


  div.coach__item {
    margin: 0 auto;
    width: 226px;
    height: 274px;
  }

  .coach__btn-img svg {
    width: 10px;
    height: 19px;
  }

  .coach__btn {
    top: 58.1%;

    &--left {
      left: 2.6%;
    }

    &--right {
      right: 2.6%;
    }
  }
}
