.container {
  max-width: $desktop;
  margin: 0 auto;
  padding: 0 103px;
  overflow: hidden;
}

@media (max-width: $tablet) {
  .container {
    padding: 0 45px;
  }
}

@media (max-width: $mobile) {
  .container {
    min-width: 320px;
    padding: 0 15px;
  }
}
