.contacts__container {
  max-width: 683px;
  margin-right: auto;
}

.contacts__title {
  @include indent-reset();
  padding-top: 65px;
  padding-left: 17.7%;
  font-family: "Bebas Neue", sans-serif;
  font-size: 49px;
  line-height: 49px;
  letter-spacing: 0.03em;
  color: #102654;
  margin-bottom: 44px;
}

.contacts__list {
  position: relative;
  padding: 0 0 0 18.3%;
  display: flex;

  &::after {
    position: absolute;
    background: url("../img/vertical-line.svg") no-repeat 50% 50%;
    content: "";
    width: 1px;
    height: 103px;
    left: 51.8%;
    top: 5px;
  }
}

.contacts__block {
  width: 41.1%;

  &:nth-of-type(2n) {
    padding-left: 60px;
  }
}

.contacts__item {
  width: 100%;
  margin-bottom: 19px;

  &--padding {
    padding-left: 10px;
  }
}

.contacts__type {
  @include indent-reset();
  display: block;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 150%;
  color: #102654;
  margin-bottom: 2px;
}

.contacts__text {
  @include indent-reset();
  display: block;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #102654;
}

@media (max-width: $tablet) {
  .contacts__container {
    margin: 0 auto;
  }

  .contacts__title {
    font-size: 42px;
    line-height: 42px;
    padding-left: 91px;
    margin-bottom: 37px;
  }

  .contacts__type {
    font-size: 20px;
    line-height: 150%;
    margin: 0 0 6px;
  }

  .contacts__text {
    font-size: 18px;
    line-height: 152.34%;
  }

  .contacts__list {
    padding-left: 90px;

    &::after {
      height: 131px;
      left: 52.2%;
      top: 7px;
    }
  }

  .contacts__block:nth-of-type(2n) {
    padding-left: 70px;
  }
}
