.footer {
  font: inherit;
  border-top: 1px solid #102654;
}

.footer__top {
  display: flex;
}

.footer__form {
  width: 50%;
  background: #102654;
  padding-bottom: 48px;
}

.footer__contacts {
  width: 50%;
}

.footer__bottom {
  background: #030a1a;
}

.footer__bottom-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 41px;
  padding-bottom: 36px;
}

.footer__nav {
  margin-left: 23px;
}

@media (max-width: $tablet) {
  .footer {
    border: none;
  }

  .footer__top {
    display: block;
  }

  .footer__form {
    width: 100%;
  }

  .footer__contacts {
    width: 100%;
    padding-bottom: 44px;
  }

  .footer__bottom-container {
    padding-top: 40px;
    padding-bottom: 39px;
  }

  .footer__nav {
    margin-left: 18px;
  }
}
