.gym {
  padding-top: 120px;
  padding-bottom: 120px;
  display: flex;
}

.gym__description {
  width: 355px;
  flex-shrink: 0;
  margin-left: 60px;
  margin-right: auto;
}

.gym__title {
  @include indent-reset();
  padding-top: 45px;
  font-family: "Bebas Neue", sans-serif;
  font-size: 49px;
  line-height: 49px;
  letter-spacing: 0.03em;
  color: #102654;
}

.gym__lead {
  @include indent-reset();
  padding-top: 10px;
  padding-bottom: 30px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 150%;
  display: flex;
  align-items: center;
  color: #102654;
}

.gym__text {
  @include indent-reset();
  padding-top: 9px;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  display: flex;
  align-items: center;
  color: #102654;
}

.gym__images {
  position: relative;
  width: 724px;
  padding-left: 5.5%;
  padding-bottom: 9.9%;
}

.gym__video {
  position: absolute;
  display: block;
  bottom: 0;
  left: 0;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(20, 54, 122, 0.5);
  }

  & a {
    position: absolute;
    display: flex;
    top: 50%;
    left: 50%;
    margin-left: -50px;
    margin-top: -50px;
    width: 100px;
    height: 100px;
    padding: 12px;
    border-radius: 50%;
    background-image: linear-gradient(44.89deg, #003d85 25.38%, #b80027 74.89%);
    background-clip: content-box;
    border: 2px solid transparent;
    border-image-source: url("../img/border-img.png");
    border-image-slice: fill 1.5;

    &:hover {
      background-image: linear-gradient(44.89deg, #b80027 25.38%, #003d85 74.89%);

      & svg {
        fill: rgba(255, 255, 255, 0.3);
      }
    }
  }

  & svg {
    margin: auto;
    margin-right: 27px;
  }
}

@media (max-width: $tablet) {
  .gym {
    display: block;
    padding-top: 95px;
    padding-bottom: 182px;
  }

  .gym__title {
    text-align: center;
    padding-top: 0;
    font-size: 42px;
    line-height: 42px;
  }

  .gym__description {
    width: 100%;
    margin-left: 0;
  }

  .gym__lead {
    width: 279px;
    margin: 0 auto;
    padding: 13px 0 25px;
  }

  .gym__text {
    padding: 9px 87px 43px;
    text-align: center;

    &--hide {
      display: none;
    }
  }

  .gym__images {
    width: 678px;
    height: 345px;
    margin: 0 auto;
    padding: 0;

    & > img {
      width: 100%;
      height: 100%;
    }
  }

  .gym__video {
    bottom: -24%;
    left: 50%;
    margin-left: -133px;

    & a {
      margin-left: -36.5px;
      margin-top: -36.5px;
      width: 73px;
      height: 73px;
      padding: 8px;
    }

    & svg {
      width: 12px;
      height: 12px;
      margin-right: 20px;
    }

    & img {
      width: 266px;
      height: 167px;
    }
  }
}

@media (max-width: $mobile) {
  .gym {
    padding: 68px 0 0;
  }

  .gym__description {
    padding: 0 15px 33px;
  }

  .gym__title {
    font-size: 32px;
    line-height: 32px;
    text-align: left;
  }

  .gym__lead {
    width: 100%;
    padding: 7px 0 14px;
  }

  .gym__text {
    padding: 10px 27px 0 0;
    text-align: left;
  }

  .gym__images {
    width: 100%;
    height: auto;
    padding: 0;
  }

  .gym__images > img {
    margin-bottom: 40px;
    height: auto;
    min-height: 313px;
  }

  .gym__video {
    position: relative;
    top: 0;
    left: 0;
    margin: 0;
    min-height: 167px;
    overflow: hidden;

    & img {
      width: 100%;
      height: auto;
    }

    & a {
      margin-left: -36.5px;
      margin-top: -36.5px;
      width: 73px;
      height: 73px;
      padding: 8px;
    }
  }
}
