.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: 28px;
  padding-bottom: 0;
  margin-bottom: -5px;
}

.header__phone {
  width: 154px;

  & a {
    font-family: "Bebas Neue", sans-serif;
    font-size: 26px;
    line-height: 26px;
    letter-spacing: 0.03em;
    color: #ffffff;

    &:focus {
      color: rgba(255, 255, 255, 0.3);
      outline: none;
    }
  }

  &:hover a {
    color: rgba(255, 255, 255, 0.3);
  }
}

.header__logo {
  width: 90px;
}

@media (max-width: $tablet) {
  .header {
    padding-top: 37px;
    margin-bottom: 0;
  }

  .header__phone {
    width: 138px;

    & a {
      font-size: 24px;
      letter-spacing: 0.02em;
    }
  }
}

@media (max-width: $mobile) {
  .header {
    padding-top: 15px;
  }

  .header__phone {
    width: 115px;

    & a {
      font-size: 20px;
    }
  }
}
