.logo a {
  font-family: "Bebas Neue", sans-serif;
  font-size: 26px;
  line-height: 26px;
  letter-spacing: 0.02em;
  color: #ffffff;
  outline: none;

  &:hover {
    color: rgba(255, 255, 255, 0.3);
  }

  &:focus {
    color: rgba(255, 255, 255, 0.3);
  }
}

@media (max-width: $tablet) {
  .logo a {
    font-size: 24px;
  }
}

@media (max-width: $mobile) {
  .logo a {
    font-size: 20px;
  }
}
