.nav {
  width: 796px;
}

.nav__logo {
  margin-right: 236px;
}

.nav__list {
  @include list-reset();
  display: flex;
  justify-content: space-between;
}

.nav__item > a {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;

  &:hover {
    color: rgba(255, 255, 255, 0.3);
  }
}

@media (max-width: $tablet) {
  .nav {
    width: 535px;
  }

  .nav__logo {
    margin-right: 32px;
  }
}

@media (max-width: $mobile) {
  .nav {
    width: 290px;
  }

  .nav__list {
    display: block;
    column-count: 2;
    column-gap: 31px;
  }

  .nav__item {
    width: 50%;
    margin-bottom: 15px;
  }

  .nav__item > a {
    font-size: 16px;
    line-height: 19px;
  }
}
