.nav {
  width: 796px;
}

.nav__list {
  @include list-reset();
  display: flex;
  flex-wrap: wrap;
}

.nav__item {
  &:not(:nth-of-type(6n)) {
    margin-right: 40px;
  }

  &:last-of-type {
    margin-right: 0;
  }

  &:nth-of-type(1) {
    margin-right: 279px;
  }

  &:nth-of-type(7n) {
    margin-left: 364px;
  }
}

.nav__item > a {
  font-family: "Roboto Condensed", "Tahoma", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  outline: none;

  &:hover {
    color: rgba(255, 255, 255, 0.3);
  }

  &:focus {
    color: rgba(255, 255, 255, 0.3);
  }
}

@media (max-width: $tablet) {
  .nav {
    width: 535px;
  }

  .nav__item {
    &:not(:nth-of-type(6n)) {
      margin-right: 30px;
    }

    &:last-of-type {
      margin-right: 0;
    }

    &:nth-of-type(1) {
      margin-right: 64px;
    }

    &:nth-of-type(7n) {
      margin-left: 143px;
    }
  }
}

@media (max-width: $mobile) {
  .nav {
    width: 100%;
  }

  .nav__list {
    display: block;
    column-count: 2;
    column-gap: 31px;
  }

  .nav__item {
    width: 50%;
    margin-bottom: 15px;
  }

  .nav__item > a {
    font-size: 16px;
    line-height: 19px;
  }
}
