.pass {
  background: white;
  position: relative;
  padding-bottom: 121px;
}

.pass__container {
  padding: 115px 103px 118px;
  background: #f8f9fc;

  &::after {
    background: url("../img/bg-plate-desktop@1x.png") no-repeat 100% 106%;
    position: absolute;
    content: "";
    right: 0;
    bottom: -30px;
    width: 287px;
    height: 494px;
    z-index: 1;
  }
}

.pass__title {
  @include indent-reset();
  margin: 0 auto;
  max-width: $desktop;
  font-family: "Bebas Neue", sans-serif;
  font-size: 49px;
  line-height: 49px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #102654;
}

.pass__duration {
  width: 342px;
  margin: 0 auto 40px;
  padding-top: 38px;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid rgba(120, 120, 120, 0.2);
  align-items: flex-end;
}

.pass__btn {
  @include indent-reset();
  margin-bottom: -2px;
  display: block;
  padding-bottom: 10px;
  width: auto;
  border: none;
  border-bottom: 2px solid transparent;
  background: none;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 150%;
  color: #102654;
  cursor: pointer;

  &--active {
    border-bottom: 2px solid $red;
  }
}

.pass__list {
  position: relative;
  margin: 0 auto;
  max-width: 1160px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  z-index: 2;
}

.pass__item {
  width: 31%;
}

@media (max-width: $tablet) {
  .pass {
    padding-bottom: 100px;
  }

  .pass__container {
    padding: 96px 45px 60px;

    &::after {
      background: url("../img/bg-plate-tablet@1x.png") no-repeat 100% 106%;
      right: 0;
      bottom: -27px;
      width: 347px;
      height: 444px;
    }
  }

  .pass__title {
    font-size: 42px;
    line-height: 42px;
  }

  .pass__btn {
    padding: 0 5px 11px;
    font-size: 18px;
    line-height: 150%;
  }

  .pass__duration {
    padding-top: 34px;
    margin: 0 auto 43px;
  }

  .pass__list {
    display: block;
  }

  .pass__item {
    width: 65.3%;
    margin: 0 auto 40px;
  }
}

@media (max-width: $mobile) {
  .pass {
    padding-bottom: 69px;
  }

  .pass__container {
    padding: 67px 15px 39px;

    &::after {
      background: none;
    }
  }

  .pass__title {
    padding: 0 15px;
    font-size: 32px;
    line-height: 32px;
    letter-spacing: 0.03em;
  }

  .pass__duration {
    width: 290px;
    padding-top: 25px;
    margin: 0 auto 34px;
  }


  .pass__list {
    padding: 0;
  }

  .pass__btn {
    padding: 0 0 11px;
    font-size: 16px;
  }

  .pass__item {
    width: 100%;
    margin: 0 auto 35px;
  }
}
