.pass {
  background: white;
  position: relative;
  padding-bottom: 121px;
}

.pass__container {
  padding: 115px 103px 78px;
  background: #f8f9fc;
  text-align: center;

  &::after {
    background: transparent url("../img/bg-plate-desktop@1x.png") no-repeat 100% 106%;
    position: absolute;
    content: "";
    right: 0;
    bottom: -30px;
    width: 287px;
    height: 494px;
    z-index: 1;
  }
}

.pass__title {
  @include indent-reset();
  font-weight: normal;
  margin: 0 auto;
  max-width: $desktop;
  font-family: "Bebas Neue", sans-serif;
  font-size: 49px;
  line-height: 49px;
  letter-spacing: 1.7px;
  text-align: center;
  color: #102654;
}

.pass__duration-container {
  max-width: 1366px;
  padding: 0 103px;
  width: auto;
  display: inline-block;
  margin: 0 auto 40px;
}

.pass__duration {
  padding-top: 38px;
  display: flex;
  justify-content: flex-start;
  border-bottom: 2px solid rgba(120, 120, 120, 0.2);
  align-items: flex-end;
  flex-wrap: wrap;
}

.pass__btn {
  @include indent-reset();
  margin-bottom: -2px;
  display: block;
  padding-bottom: 10px;
  width: auto;
  border: none;
  border-bottom: 2px solid transparent;
  background: none;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 150%;
  color: #102654;
  cursor: pointer;
  outline: none;

  &:not(:last-of-type) {
    margin-right: 47px;
  }

  &:hover {
    text-shadow: 0 0 0.95px #102654;
  }

  &:focus {
    text-shadow: 0 0 0.95px #102654;
  }

  &--active {
    border-bottom: 2px solid $red;
  }
}

.pass__list {
  position: relative;
  margin: 0 auto;
  max-width: 1160px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  z-index: 2;
}

.pass__list > .pass__item {
  width: 31%;
  flex-grow: 0;
  flex-shrink: 1;
  margin-bottom: 40px;

  &:not(:nth-of-type(3n)) {
    margin-right: 3.5%;
  }
}

@media (max-width: $tablet) {
  .pass {
    padding-bottom: 100px;
  }

  .pass__container {
    padding: 98px 45px 60px;

    &::after {
      background: transparent url("../img/bg-plate-tablet@1x.png") no-repeat 100% 106%;
      right: 0;
      bottom: -27px;
      width: 347px;
      height: 444px;
    }
  }

  .pass__title {
    font-size: 42px;
    line-height: 42px;
  }

  .pass__btn {
    padding: 0 4px 11px;
    font-size: 18px;
    line-height: 150%;
  }

  .pass__duration-container {
    padding: 0 45px;
    margin: 0 auto 43px;
  }

  .pass__duration {
    padding-top: 32px;
  }

  .pass__list {
    display: block;
  }

  .pass__list > .pass__item {
    width: 65.3%;

    &:nth-of-type(n) {
      margin: 0 auto 40px;
    }
  }
}

@media (max-width: $mobile) {
  .pass {
    padding-bottom: 71px;
  }

  .pass__container {
    padding: 68px 15px 33px;

    &::after {
      background: none;
    }
  }

  .pass__title {
    padding: 0 15px;
    font-size: 32px;
    line-height: 32px;
    letter-spacing: 1.3px;
    margin-bottom: 1px;
  }


  .pass__duration-container {
    padding: 0;
    margin: 0 auto 34px;
  }

  .pass__duration {
    padding-top: 24px;
    width: 100%;
  }

  .pass__list {
    padding: 0;
  }

  .pass__btn {
    padding: 0 0 11px;
    font-size: 16px;

    &:not(:last-of-type),
    &:not(:nth-of-type(3n)) {
      margin-right: 45px;
    }
  }

  .pass__list > .pass__item {
    width: 100%;
    z-index: initial;

    &:nth-of-type(n) {
      margin: 0 auto 34px;
    }
  }
}
