.reviews {
  padding: 116px 0 120px;
}

.swiper1 {
  width: 560px;
}

.swiper-button-next {
  &::after {
    display: none;
  }
}

.swiper-button-prev {
  &::after {
    display: none;
  }
}

.reviews__title {
  @include indent-reset();
  margin-bottom: 55px;
  font-family: "Bebas Neue", sans-serif;
  text-align: center;
  font-size: 49px;
  line-height: 49px;
  letter-spacing: 0.03em;
  color: #102654;
}

.reviews__list {
  width: 560px;
  margin: 0 auto;
  position: relative;
}

.reviews__item {
  background: $blue;
  display: flex;
  align-items: flex-start;
  padding: 54px 58px 57px 62px;

  & img {
    padding-top: 8px;
    display: block;
  }

  &--hide {
    display: none;
  }
}

.reviews__info {
  padding-left: 28px;
  width: 390px;
}

.reviews__user {
  @include indent-reset();
  padding-bottom: 12px;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 150%;
  color: #ffffff;
}

.reviews__text {
  @include indent-reset();
  padding-right: 3px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 140%;
  color: #ffffff;
}

.reviews__btn {
  position: absolute;
  border: none;
  background: transparent;
  top: 51.2%;
  cursor: pointer;

  &--left {
    left: -11.2%;
  }

  &--right {
    right: -11.2%;
  }

  &:hover svg {
    stroke: #000000;
  }
}

@media (max-width: $tablet) {
  .reviews {
    padding: 95px 0 101px;
  }

  .reviews__title {
    margin-bottom: 45px;
    font-size: 42px;
    line-height: 42px;
  }

  .reviews__list {
    width: 566px;
  }

  .swiper1 {
    width: 566px;
  }

  .reviews__item {
    padding: 54px 58px 57px 65px;
  }
}

@media (max-width: $mobile) {
  .reviews {
    padding: 67px 0 70px;
  }

  .reviews__title {
    font-size: 32px;
    line-height: 32px;
  }

  .reviews__list {
    width: 100%;
  }

  .swiper1 {
    width: 100%;
  }

  .reviews__info {
    width: 100%;
    padding: 0;
    text-align: center;
  }

  .reviews__item {
    position: relative;
    width: 57.8%;
    margin: 0 auto;
    padding: 47px 22px 36px;

    & img {
      padding: 0;
      width: 68px;
      height: 68px;
      position: absolute;
      left: 42px;
      top: 40px;
    }
  }

  .reviews__user {
    line-height: 135%;
    text-align: left;
    min-height: 50px;
    padding: 0 26px 0 104px;
    margin-bottom: 22px;
  }

  .reviews__btn-img svg {
    width: 10px;
    height: 19px;
  }

  .reviews__btn {
    top: 50.4%;

    &--left {
      left: 1.5%;
    }

    &--right {
      right: 1.5%;
    }
  }
}
