.social {
  @include list-reset();
  width: 110px;
  display: flex;
  justify-content: space-between;
}

.social__item {
  & svg {
    fill: #ffffff;
  }

  &:hover svg {
    fill: rgba(255, 255, 255, 0.3);
  }
}

@media (max-width: $tablet) {
  .social {
    width: 100px;
    padding-top: 3px;
  }
}

@media (max-width: $mobile) {
  .social {
    padding: 0;
    width: 143px;
  }

  .social__item {
    &--vk svg {
      width: 32px;
      height: 17px;
    }

    &--insta svg {
      width: 27px;
      height: 27px;
    }

    &--fb svg {
      width: 14px;
      height: 27px;
    }
  }
}
