.wrapper {
  background: $red url("../img/bg-header-desktop@1x.png") no-repeat 50% 50%;
  background-size: cover;
}

@media (max-width: $tablet) {
  .wrapper {
    background: $red url("../img/bg-header-tablet@1x.png") no-repeat 50% 50%;
    background-size: cover;
  }
}

@media (max-width: $mobile) {
  .wrapper {
    background: url("../img/bg-header-mobile@1x.png") no-repeat 50% 50%;
    background-size: cover;
  }
}
